:root {
	font-size: 14px;
	font-family: "DejaVu Sans";
	--bg1: #121212;
	--bg2: #171717;
	--bg3: #3a3a3a;
	--fg1: #d6dbe5;
	--fg2: #a9afab;

	--main1: #B790C2;
	--purple: #B790C2;
	--blue: #205070;

}
/* DEFINE THE SCROLLBAR */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: var(--bg1);
}
body::-webkit-scrollbar-thumb {
	background: var(--purple);
}
body {
	color: var(--fg2);
	background-color: var(--bg1);
	margin: 0px;
	padding: 0px;
}


/* Engineering to center, adding a padding works but enlarges the area.*/
/*main {
	background-color: var(--bg3);
	min-height: calc(90vh - 40px - 8rem);
	width: calc(60vw - 12rem - 8rem);
	padding: 4rem;
	margin-left: 20vw;
	margin-right: calc(20vw + 12rem);
	margin: 0px !important;
	padding: 0px !important;
}
*/



/* *----------------------------------------------------------------------*
   │                           NAVIGATION FRAME                           │
   *----------------------------------------------------------------------*/
.navBar {
	filter: grayscale(0%) opacity(0.5);
	align-content: center;
	text-align: center;
}
.navMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.navLink {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 2rem;
	width: 100%;
}
.navLinkImg {
	text-decoration: none;
	width: 100%;
}

.navBar img {
	width: 8rem;
	margin: 0pt;
	padding: 0pt;
}


.navBar .navMenu li a:link {
	display: block; /* so that whole block is clickable */
	color: #b9b9b9;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navItem, .navItemImg {
	width: 100%;
}

.navBar .navMenu li {
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}
.navBar .navMenu li a:visited {
	color: var(--fg1);
}
/* .navBar .navMenu li a:hover {color: var(--blue);} */
#container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

/* Large screen navigation frame */
@media only screen and (min-width: 1080px) {
	.navBar {
		top: 0;
		position: sticky;
		background-color: var(--bg2);
		margin: 2rem;
		/* 100 window height - 4rem? */
		height: calc(100vh - 40px - 4rem);
		transition: all .5s ease;
	}
	.navBar:hover {
		flex-grow: 0.1;
		flex-shrink: 0.1;
		filter: grayscale(0%) opacity(0.9);
	}
	.narBar img {
		display: block;
	}
	.navItem:hover {
		background: var(--main1);
	}
	.navItemImg:hover {
		background: var(--main1);
	}
	.content {
		background-color: var(--bg2);
		margin-left: auto;
		margin-right: auto;

		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 4rem;
		padding-right: 4rem;
		/* align-self: flex-start; */ /* retain its own height */
		width: min(50rem, calc(100% - 12rem - 10rem));
		height: 100%;
	}
}
@media only screen and (max-width: 1080px) {
	.navBar {
		top: 0;
		position: sticky;
		width: 100vw;
		background: var(--main1);
	}
	.navBar img {
		display: none;
	}
	.navBar:hover {
		filter: grayscale(0%) opacity(0.9);
	}
	.navMenu {
		display: flex;
		flex-direction: row;
	}
	.navItem:hover {
		background: var(--bg1);

	}
	.navLinkImg, .navItemImg  {
		display: none;
	}
	.navItem {
		width: 100vw;
		align-items: center;
	}
	.content {
		background-color: var(--bg2);
		margin-left: auto;
		margin-right: auto;

		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 4rem;
		padding-right: 4rem;

		/* align-self: flex-start; */ /* retain its own height */
		width: calc(80% - 5rem);
		/* min-height: 100%; */
		height: calc(100vh - 4rem - 56px);
	}
}


/* ************************************************************************* */

/* HEADERS MIGHT CAUSE ISSUES WITH TOP & LEFT MARGIN */
/* TODO: colorful header tags */
h1, h2, h3, h4, h5, h6{
	border-bottom: 1px dashed var(--purple);
	/* border-bottom-right-radius: 5px; */
	color: var(--purple);
	margin: 0rem;
	margin-left: -5px;
	padding: 10px;
	width: 100%;
}
a {
	color: var(--purple);
	border: 10px;
}

h3 time{
	font-size: 10px;
}


/* *----------------------------------------------------------------------*
   │                               MARKDOWN                               │
   *----------------------------------------------------------------------*/
.content pre {
	/* Hugo specific: consider using the 'highlight' shortcode */
	display: block;
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding: 1rem;
	white-space: pre-wrap; /* pre doesn't wrap by default */
	margin-left: 4rem;
	margin-right: 4rem;
	/*border: 1px solid var(--main1);*/
	border-radius: 0rem;
}

.content code {
	/* enclosed by single backtick (`) */
	padding: .2em .4em;
	margin: 0;
	font-size: 1rem;
	border-radius: 1px;
}
.content pre code {
	/* CODE triple  ```) */
	margin: 0;
	font-size: 0.8rem;
	padding: 0;
}

/* PAINT BOTTOM OF TEXTT CODE FENCE. THIS REQUIRES LAYOUTS/_DEFAULT/_MARKUP */
div.textt > div.highlight > pre
{
 	border-bottom: 1px solid var(--main1); 
}

/* PUT $ IF IT'S SH BUT NOT SELECTABLE */
code.language-sh span:not([style])::before{
  content: "$ ";
}
/* PUT # IF IT'S SHELL INSTEAD OF SH BUT NOT SELECTABLE */
code.language-shell span:not([style])::before{
  content: "# ";
}


/* *----------------------------------------------------------------------*
   │                                FOOTER                                │
   *----------------------------------------------------------------------*/
.footer_frame {
	/* position: fixed; */
	position: relative;
	bottom: 0;
	left: 0%;
	width: 90%;
	margin: 0%;
	padding-left:5%;
	padding-right:5%;
	/* background-color: #101010; */
	/* color: #c5ebed; */
	display: flex;

	justify-content: space-between; /* ONE LEFT ONE RIGHT */
	align-items: center; /* VERTICAL ALIGNMENT */

}
.footer_frame a {
	display: flex;
	width: 100px;
	justify-content: space-between; /* ONE LEFT ONE RIGHT */
	align-items: center; /* VERTICAL ALIGNMENT */
	text-align: center;
}
.footer_frame img {
	height: 40px;

}
.footer_frame img:hover {
	opacity: .5;
}

